.dart_tool/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
*.iml
flyx-report.json
